html{
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centraliza horizontalmente */
    padding-top: 50px;
    background-color: lemonchiffon !important; /* O !important garante a vitória */
    min-height: 100vh; /* Faz o amarelo cobrir a tela toda */
}

/* Container que segura a lista e os botões embaixo */
.main-wrapper {
    width: 90%;
    max-width: 800px; /* Define o formato retangular */
}


/* Estilização da caixa principal  */

#lista-pai{
    background-color: white;
    height: auto; 
    width: 100%; /* Ocupa todo o espaço do wrapper */
    border-radius: 10px;
    border: solid 1px black;
    box-shadow: 5px 5px 0px 0px rgba(0,0,0,0.5);
    overflow: hidden;
    
}
#lista-titulo{
    display: flex;
    justify-content: space-between;
    height: auto;
    border-bottom: solid 1px black;
    padding: 15px;
    padding-left: 30px;
    border-bottom: solid 1px black;
}

/* Estilização individualizada das tarefas */

.box-tarefa{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    max-height: 200px;
    background-color: rgb(146, 151, 151);
    border-top: solid black 0.5px;
    min-height: 80px; /* Altura mínima para manter o retângulo */
    border-bottom: solid 1px #ccc;
}
.box-botao{
    border-right: solid black 0.5px;
    width:10%
}
#box-tarefa-filha{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:90%;
    padding: 15px !important;
}

/* Estilização da caixa de criar tarefa */

#box-criar{
    /* Posicionamento da Box */
    display: none;
    position: absolute; 
    top:50%; left: 50%;
    transform: translate(-50%, -50%);
    flex-direction: column;

    /* Estilização da Box */
    background-color:rgb(211, 211, 211);
    height:500px; 
    width:500px;
    border: dashed 2px black;
}

#overlay{
    display: none;
    position: fixed;
    transition: 0.5s;
    top: 0;
    left: 0; 
    height: 100%; 
    width: 100%; 
    background-color: rgba(0,0,0,0.5);
}

#box-criar-formulario{
    height: 80%; 
    padding: 20px;
}


/* Estilização box-manipula_tarefa */

#box_manipula_tarefa{
    display: none;
    justify-content: center;
    gap: 15px;
    margin-top: 20px; /* Espaço entre a lista e os botões */
    margin-bottom: 50px;

}
